.produto-item {
    .produto-item__image {
        display: block;
        background: no-repeat center center;
        background-size: cover;
        height: 200px;
        width: 100%;
    }
}

.img-produtos {
	height: 252px;
}

.img-produtos img {
	max-width: 100%;
}

.accordion {
	overflow: hidden;
	min-height: 50px;
	height: 50px;
	margin-bottom: 10px;
	background-color: #EBEBEB;
}

.accordion h3 {
	cursor: pointer;
	margin: 14px;
	font-size: 16px;
}

.accordion p {
	margin: 14px;
	color: #414042;
	font-size: 14px;
}

.accordion a {
	color: #414042;
}

.accordion a:hover {
	text-decoration: none;
}

.accordion  .fa-caret-down {
	float: right;
	margin-right: 10px;
    margin-top: 3px;
}

.banner_produtos {
   min-height: 448px;
}

.title_produtos h1 {
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	margin-top: 48px;
}

.title_produtos {
	text-align: center;
	height: 120px;
}

.formulario h1 {
	font-family: 'open_sansbold';
	color: #FFEA00;
	text-transform: uppercase;
	font-size: 50px;
	margin-top: 120px;
	font-weight: bold;
	letter-spacing: -4px;
	line-height: 100%;
	padding-left: 94px;
}

.formulario-produtos {
    position: relative;
    background-color: #fff;
    border-top: 4px solid #ED1B24;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}

.formulario-produtos .text-wrap {
	margin: 0;
}

.ninja-forms-required-items {
	display: none;
}

.formulario-produtos .submit-wrap {
	text-align: center;
}

.formulario-produtos .btn {
    background-color: #ed1b24;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 800;
    padding: 15px 100px;
    text-transform: uppercase;
}

.formulario-produtos h2 {
	margin: 0;
	color: #000;
	text-transform: none;
}

.formulario-produtos p {
	font-size: 12px;
	color: #000;
}

.formulario-produtos .mensagem {
	height: 110px;
}
