.promocao-item {
    margin-bottom:15px;
    display:block;
    width: 100%;
    position: relative;
    height: 350px; 
    overflow: hidden;
    cursor: pointer;

    &:hover { 
        .promocao-item__capa {
            max-height: 200px;
        }

        .promocao-item__capa .promocao-item__titulo {
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0px;
        }

        .promocao-item__capa .promocao-item__description {
            font-size: 12px;    
            display:block;
            opacity:1;
        }

        .promocao-item__capa .promocao-item__share {
            margin: 10px 0px 0px 0px;
            display: inline-block;
            opacity:1;
        }
    }

    .promocao-item__background {
        position: absolute;
        top:0px;
        left:0px;
        display: block;
        width: 100%;
        height: 100%;
        background: no-repeat center center;
        background-size: cover;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .promocao-item__capa {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: $white;
        background: #ed1c24;
        padding: 0px 10px 10px 10px; 
        max-height: 50px;
        transition: 1s ease;

        &:before, &.is_large:before {
            content: ''; 
            position: absolute;
            top: -49px;
            right:0px;
            display: block;
            width: 0;
            height: 0;
            border-bottom: 50px solid #ed1c24;
            border-left: 267px solid transparent;
        }

        &.is_large:before {
            top: -36px;
            border-bottom: 37px solid #ed1c24;
            border-left: 757px solid transparent;

        }

        .promocao-item__titulo {
            font-size: 14px;    
            color:#FFF;
            display: inline-block;
            padding: 0px;
            margin: 0px;
            text-align: right;
            margin-top: -16px;
            z-index: 9999999;
            position: relative;  
        }

        .promocao-item__description {
            font-size: 12px;    
            color:#FFF;
            display: inline-block;
            opacity: 0;
            display: none;
        }

        .promocao-item__share {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: none;
            opacity: 0;

            li {
                display: inline-block;
            }

            a {
                color: $white;
                padding:5px;
                width: 26px;
                height: 26px;
                text-align: center;
                line-height: 17px;
                &:hover {
                    border: 1px solid $white;
                    border-radius: 3px;
                    text-decoration: none;
                    padding: 4px;
                }
            }
        }
    }
}

.slider {
    lost-utility: clearfix;
    width: 100%;
    margin-bottom: 40px;

    .item_slide {
      position: relative;   
      width:100%;
    }

    .item_slide__image {
        position:absolute;
        top: 0px;
        left: 0px;
        display:block;
        cursor:pointer;
        width: 100%;
        height: 100%;
        background: no-repeat center top;
        background-size: cover;
        padding: 20px 10px;
        min-height: 550px;   
    }

    .item_slide__formulario {
        max-width: 350px; 
        float: right;
        margin:10px 0px;
    }

    @media screen and (width >= $screen-sm-max ) and (width < $screen-lg-max) {
        .destaque_produto-item {
            lost-column: 1/6 6 0px no-flex;
        }
    }

    @media screen and (width < $screen-sm-max) {
        .item_slide__formulario {
            max-width: 100%; 
            width: 100%;
        }
    }

}

.promocao {
    margin-top: 20px;
    .promocao__image {

        img {
            max-width: 100%;
        }
    }
}

.promocao__texto {
    margin: 40px 0px;
}


.page-template-page-templates .destaque-title {
    margin-top: 10px !important;
}


.promocao-item__filtro_status {
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    color: #000;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 160px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
